</form>
</div>
    </div>
</body>
</html>
<script>
   
    
     document.getElementById("login").addEventListener("click", redirect);
    function redirect(){
        window.location="login";
    }
</script>