</form>
</div>
    </div>
</body>
</html>
<script>
   
    document.getElementById("register").addEventListener("click", redirect2);
    function redirect2(){
        window.location="register";
    }
   
</script>