<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
</head>
<body>
   
    <div class="parent">
        <div class="child1">
            <div class="im"></div>
           <div class="visi">
            <h1 class="head">Altitude Air</h1>
            <hr class="line">
            <h5 class="para">We promise to ensure that your well being is taken care of while travelling with us. Boasting top in class fleet inventory and a 5 star approval for our in-flight experience. you know you're getting the best from Altitude with no attitude.</h5>
           </div> 
        </div>
        <div class="child2">
            <button  class="btn2" id="register" > Sign Up</a></button>
            <div class="txt">
            <h1 class="head2">Explore &amp Experience</h1>
            <h5 class="para2">Get onto your most comfortable journey yet. All the way up.</h5></div>
            <form action="/login" method="POST">
              
               
                <div class="formgroup">
                <input type="email" class="formin" id="email" name="email" placeholder="Email"></div>
               <div class="formgroup">
               
                <input type="password" class="formin" id="pass" name="password" placeholder="Password"> </div>
                <div class="formgroup">
                <input type="submit" class="btn" value="Get Started"/></div>
               

            
        